---
layout: default
---
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>TU Delft DCC</h2>
    </div>
</section>
<div class="wrapper style1">
    <article class="container">
        <header class="major">
            <h2 class="post-title">{{ Ashley Cryan }}</h2>
        </header>

        <section class="post-content">
            {{ Ashley Cryan is a Data Manager with the TU Delft Library Research Data Services team and the Digital Competence Center (DCC). Her background is in coastal science and social-ecological systems research. She obtained her MSc from Northeastern University in Boston, USA, where her thesis focused on how material properties of shoreline infrastructure can be considered in design to enhance its value as urban coastal habitat. She has expertise in thermal modeling, multivariate statistical analysis, environmental monitoring, landscape urbanism and ecophysiology, and works primarily in R and Python.

Among the tasks she can help researchers with are: generating (meta)data documentation; preparing a Data Management Plan; setting up workflows for collaborative data collection and analysis; finding suitable data storage solutions; implementing reproducible data management practices like version control; selecting a data repository and structuring datasets to upload in accordance with FAIR principles; and creating compelling data visualizations and webpages to showcase research results. 

LinkedIn: <a href="www.linkedin.com/in/ashleycryan">www.linkedin.com/in/ashleycryan</a> 
ORCiD: <a href="https://orcid.org/0000-0002-5410-2163">0000-0002-5410-2163</a>
 }}
        </section>
        
    </article>

</div>
